.cbp-fwslider {
	position: relative;
	overflow: hidden;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 60px;
	padding-left: 0;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
/*	border: 5px double rgb(182, 255, 202);*/
	display: block;
	margin: 0 auto;
	max-width: 60%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	color: #eb7a77;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: bolder;
}

.cbp-fwslider nav span:hover {
	background-color: #4f4f4f;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 15%;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 15%;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #4f4f4f;
}

.cbp-fwdots span:hover {
	background-color: #eb7a77;
}

.cbp-fwdots span.cbp-fwcurrent {
	box-shadow: 0 0 0 2px #eb7a77;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
	background-color: #4f4f4f;
}