/*-----------------------------------------------------------------------------------*/
/*	1.0 Reset
/*-----------------------------------------------------------------------------------*/
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
figure { margin: 10% 0; }
figcaption { text-align: center; }
img { border: 0; -ms-interpolation-mode: bicubic;}
a:hover, a:active, a:focus { outline: none; -moz-outline-style: none;}
input {-webkit-border-radius:0; border-radius:0;}

/* Clearfix */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0; }


/*-----------------------------------------------------------------------------------*/
/*	2.0 General Styles
/*-----------------------------------------------------------------------------------*/

body {
	margin: 0 auto;
	background: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #212121;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
			hyphens: auto;
}
#site-title,
#masthead .slogan,
.entry-header,
.entry-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* --- Google Fonts --- */
#site-title h1,
#masthead .slogan h3.slogan-headline,
#masthead .slogan p.slogan-text,
.entry-content table,
.entry-content dl {
	font-family: 'Raleway', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6,
#masthead a.info-btn {
	font-family: 'PT Sans', Helvetica, sans-serif;
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 {
	color: #4f5759;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}
h1 {
	margin: 2em 0 1.5em;
	font-size: 30px;
	font-size: 1.875rem;
}
h2 {
	margin: 1.8em 0 1.2em;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.25;
}
h3 {
	margin: 1.8em 0 1em;
	font-size: 22px;
	font-size: 1.375rem;
	line-height: 1.25;
}
h4 {
	margin: 1.3em 0 0.9em;
	font-size: 22px;
	font-size: 1.375rem;
	line-height: 1.25;
}
h5 {
	margin: 1.1em 0 0.8em;
	font-size: 20px;
	font-size: 1.25rem;
}
h6 {
	margin: 0.9em 0;
	font-size: 18px;
	font-size: 1.125rem;
}

/* Text Elements */
p {
	margin-bottom: 34px;
}
.entry-content p:last-child {
	margin-bottom: 0;
}
ul, ol {
	margin: 0 0 34px 0;
	padding-left: 40px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}
.entry-content ul li,
.entry-content ol li {
	margin-bottom: 20px;
}
.entry-content ul ul li:last-child,
.entry-content ol ol li:last-child {
	margin-bottom: 0;
}
.entry-content ul ul,
.entry-content ol ol {
	margin-top: 12px;
}
dt {
	font-weight: bold;
}
b, strong {
	font-weight: bold;
}
dfn, em, i {
	font-style: italic;
}
s, strike, del {
	text-decoration: line-through;
}
pre {
	max-width: 100%;
	margin-bottom: 20px;
	padding: 15px;
	overflow: auto;
	background: #f2f2f2;
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
	font-size: 0.8125rem;
	line-height: 1.4;
}
code, kbd, tt, var {
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
	font-size: 0.8125rem;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
dt {	
	padding: 0 0 7px;
	font-weight: bold;
}
dd {
	margin: 0 0 20px;
}
dl dt {
	font-size:16px;
	font-size:1rem;
	font-weight: bold;
	line-height:1.5;
}
dl dd {
	margin: 0 0 34px;
	line-height:1.65;
}
a {
	color: #33a6b8;
	text-decoration: none;
}
a:hover {
	color: #0089a7;
}

table th,
dl dt {
	color: #4f5759;
}

/* Tables */
table {
	width: 100%;
	margin: 0 0 40px;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #ccc;
	line-height: 2;
}
table td {
	padding: 10px 10px 10px 0;
	border-top: 1px solid #ccc;
}
table caption {
	margin: 40px 0;
}
table th {
	padding: 10px 10px 10px 0;
	text-align:left;
	font-weight: bold;
}

/* Alignment */
.alignleft,
.alignright {
	display: block;
	float: none;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
img.alignleft,
img.alignright {
	margin-top:10px;
	margin-bottom:20px;
}

/* Custom Classes */
.final-section {
    background: url(images/greenboard.png);
/*    background-color:rgb(142, 255, 173);*/
    color: #4f4f4f;
}
.final-section h3, h6 {
/*    color: #4f4f4f;*/
    color: #fff;
}
.final-section h6 {
    margin-top: 2em;
}
.final-section a {
    color: #eb7a77;
    border-bottom: 1px dashed;
}
.final-section a:hover {
    color: #fff;
}
.final-section code {
/*
    max-width: 100%;
	margin-bottom: 20px;
	overflow: auto;
	font-family: Consolas, Monaco, monospace;
	font-size: 14px;
	font-size: 0.8125rem;
*/
    background: #4f4f4f;
    padding: 5px;
    color: #fff;
}
.final-section span {
    margin:auto;
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.downloads {
    text-align:center;
    max-width:75%;
    margin:2em auto;
}
.downloads a {
    border-bottom: none;
}



/*-----------------------------------------------------------------------------------*/
/*	4.0 Header (Masthead)
/*-----------------------------------------------------------------------------------*/
#masthead {
	position:relative;
	display:block;
	text-align: center;
    background: url(images/blackboard.png);
/*    background-size:100% 100%;*/
    padding-bottom: 1em;
}
#masthead .slogan p.slogan-text:before {
	border-top: 2px solid rgb(184, 255, 203);
}
#masthead a.info-btn {
	display: inline-block;
}
#masthead a.info-btn span.show-info {
	display: inline-block;
	width: 70px;
	height: 69px;
	background: url(images/littlelam2.png) right 0 no-repeat;
	text-indent: -99999px;
    background-color: #fff;
}
#masthead a.info-btn:hover span.show-info {
	background: url(images/littlelam2.png) right 0 no-repeat;
    background-color: #fff;
}
#masthead a.info-btn span.more-info {
	display: none;
}
#site-title {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}
#site-title h1 {
	display: block;
	margin: 8px 0 0 0;
	padding: 0;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-wrap: break-word;
}
#site-title h1 a {
/*	color: #4f5759;*/
    color: #fff
}

/* --- Intro Slogan --- */
#masthead .slogan {
/*	color: #4f5759;*/
    color: #fff
}
#masthead h3.slogan-headline {
	margin: 0;
	font-weight: 900;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 2px;
    color: #fff
}
#masthead .slogan p.slogan-text {
	margin: 9px 0 60px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}
#masthead .slogan p.slogan-text:before {
  content : "";
  display:block;
  width   : 50%;
  max-width: 350px;
  height  : 2px;
  margin: 0 auto;
  padding-bottom: 9px;
  text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/*	5.0 Posts
/*-----------------------------------------------------------------------------------*/

.entry-content {
	max-width:100%;
}

/* --- Post Typography --- */
.entry-content p,
.entry-summary p,
.entry-content ul, 
.entry-content ol {
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.7;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}
.entry-content ul li strong {
    color: #eb7a77;
    font-weight: bold;
}
.entry-content h3 {
	color: #eb7a77;
	font-weight: bold;
}
.entry-content p.intro {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.6;
}
p.justify {
	text-align:justify;
}


/* --- Images / Video --- */
img {
	max-width:100%;
	height:auto;
}


/*-----------------------------------------------------------------------------------*/
/*	14.0 Media Queries
/*-----------------------------------------------------------------------------------*/

/* Minimum width of 479 pixels (smartphones landscape)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 479px) {
	/* --- Alignment --- */
	.alignleft {
		float: left;
		display: inline-block;
		margin: 0 38px 12px 0;
	}
	.alignright {
		float: right;
		display: inline-block;
		margin: 0 0 12px 38px;
	}
}

/* Minimum width of 767 pixels (tablets portrait)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 767px) {
	#site-title,
	#masthead .slogan,
	.entry-content {
		padding-left: 35px;
		padding-right: 35px;
	}
	p {
		margin-bottom: 24px;
	}
	h1 {
		font-size: 38px;
		font-size: 2.375rem;
	}
	h2 {
		margin: 2.2em 0 1.1em;
		font-size: 36px;
		font-size: 2.25rem;
	}
	h3 {
		margin: 2.2em 0 1.1em;
		font-size: 26px;
		font-size: 1.625rem;
	}
	h4 {
		margin: 2.2em 0 1.1em;
		font-size: 28px;
		font-size: 1.75rem;
	}
	h5 {
		font-size: 26px;
		font-size: 1.625rem;
	}
	h6 {
		font-size: 24px;
		font-size: 1.5rem;
	}
	table,
	table th,
	dl,
	dl dt {
		font-size: 18px;
		font-size: 1.125rem;
	}

	/* --- Alignment --- */
	.alignleft {
		margin: 10px 40px 20px 0;
	}
	.alignright {
		margin: 10px 0 20px 60px;
	}
	/* --- Header --- */
	#site-title {
		padding-top: 0;
		padding-bottom: 90px;
		text-align: center;
		clear: both;
		overflow: hidden;
	}
	#site-title {
		padding-top: 70px;
	}
	#site-title h1 {
		margin: 46px 0 0 30px;
		display: inline-block;
		float: left;
	}
	/* --- Info Buttons --- */
	#masthead a.info-btn span.show-info {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1000000;
		cursor: pointer;
	}
	/* --- Header Slogan --- */
	#masthead h3.slogan-headline {
		font-size: 36px;
		font-size: 2.25rem;
	}
	#masthead .slogan p.slogan-text {
		margin: 20px 0 120px;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.45;
	}
	#masthead .slogan p.slogan-text:before {
	  padding-bottom: 20px;
	}
	/* --- Post --- */
	.entry-content p, 
	.entry-content ul, 
	.entry-content ol {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1.7;
	}
    .feature-bg {
        background: url(images/biglam-peach.png) no-repeat;
        background-position: 50% 75%;
        background-size: 225px 225px;
    }
    .feature-list {
        display: block;
        height: 500px;
/*
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
        
        -moz-column-gap:40px;
        -webkit-column-gap:40px;
        column-gap:40px;
*/  
    }
    .feature-list ul li {
/*        background-color: #fff;*/
        height:2em;
        overflow:hidden;  
        -moz-transition: height 0.1s; 
        -webkit-transition: height 0.1s; 
        -ms-transition: height 0.1s;  
        -o-transition: height 0.1s;  
        transition: height 0.1s;
    }
    .feature-list ul li:hover {
        /*when expanded, the dropdown will get native means of scrolling*/
        height:324px;
        /*nice and smooth expand - speed this up at your preference or remove animation altogether*/
        -moz-transition: height 0.5s; 
        -webkit-transition: height 0.5s; 
        -ms-transition: height 0.5s;  
        -o-transition: height 0.5s;  
        transition: height 0.5s;
    }
    .feature-list ul {
        list-style: none;
    }
    .feature-text {
        padding-bottom: 1em;
/*        color: #eb7a77;*/
/*        border-bottom: 1px dotted #ba0000;*/
    }
    .feature-text span {
        border-bottom: 1px dotted #ba0000;
    }
    .left {
        float: left;
        width: 50%;
    }  
    .right {
        margin-left: 50%;
    }
}

/* Minimum width of 1023 pixels (tablets landscape)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1023px) {
	#site-title,
	#masthead .slogan,
	.entry-content {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 70px;
		padding-right: 70px;
	}
	#site-title {
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
	}
	pre, 
	code,
	code, 
	kbd, 
	tt, 
	var {
		font-size: 15px;
		font-size: 0.9375rem;
	}
	pre {
		padding: 30px;
	}
	/* --- Header --- */
	#masthead h3.slogan-headline {
		font-size: 40px;
		font-size: 2.5rem;
	}
	#masthead .slogan p.slogan-text {
		font-size: 26px;
		font-size: 1.625rem;
	}
	/* --- Post --- */
	.entry-content p,
	.entry-summary p,
	.entry-content ul,
	.entry-content ol {
		font-size: 12px;
		font-size: 1rem;
	}
}

/* Minimum width of 1360 pixels (15' laptops + desktops)
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1360px) {
	#masthead .slogan,
	.entry-content {
		padding-left: 0;
		padding-right: 0;
	}
	#site-title {
		padding-left: 0;
		padding-right: 0;
	}
	/* --- Info Buttons --- */
	#masthead a.info-btn span.show-info {
		position: fixed;
		transition: all 0.3s ease-in-out;
	}
	#masthead a.info-btn span.more-info {
		position: fixed;
		top: 0;
		right: -250px;
		z-index: 1000000;
		padding-left: 45px;
		padding-right: 45px;
		padding-top: 23px;
		height: 69px;
		opacity: 0;
		font-size: 18px;
		font-size: 1.125rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: inline-block;
		transition: all 0.25s ease-in-out;
	}
	#masthead a.info-btn span.more-info {
		background: #eb7a77;
		color: #fff;
/*
		background: url(images/greenboard.png);
        background-color: #fff;
        color: #fff;
*/
    
	}
	#masthead a.info-btn:hover span.more-info {
		right: 70px;
		opacity: 1;
		text-indent: 0;
	}
	/* --- Alignment --- */
	.alignleft {
		margin-right: 60px;
	}
	.alignright {
		margin-left: 80px;
	}
	.entry-content .alignleft.wide-content {
		margin-left: -100px;
	}
	.entry-content .alignright.wide-content {
		margin-right: -100px;
	}
}


/*-----------------------------------------------------------------------------------*/
/*	16.0 Print
/*-----------------------------------------------------------------------------------*/
@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	#masthead {
		background: none !important;
	}
	.site-title {
		color: #000;
		font-size: 21pt;
	}
	.entry-content {
		margin: 0;
		width: 100%;
	}
}


